{% extends "::base2.html.twig" %}

{% block head %}
    <meta charset="utf-8" />
    <title>Rayku - Homepage</title>
    {% block stylesheets %}
        <link href="{{ asset('bundles/raykustatic/css/normalize.css') }}" type="text/css" rel="stylesheet" media="screen" />
        <link href="{{ asset('bundles/raykustatic/css/foundation.min.css') }}" type="text/css" rel="stylesheet" media="screen" />
        <link href="{{ asset('bundles/raykustatic/css/animation.css') }}" type="text/css" rel="stylesheet" media="screen" />
        <link href="{{ asset('bundles/raykustatic/css/style.css') }}" type="text/css" rel="stylesheet" media="screen" />
    {% endblock %}
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,700,600" rel="stylesheet" type="text/css" />
{% endblock %}

{% block title 'Rayku - Homepage' %}

{% block body %}
    {% block header %}
    <header>
        <div class="inside">
            <a href="#" id="logo"><img src="{{asset('bundles/raykustatic/images/logo.png')}}" alt="" /></a>
            <nav>
                <a href="#" class="ask-login-button" data-reveal-id="loginModal">Login</a>
                <a href="#" class="signup-user">Signup</a>
                <a href="/joinus">Become a Tutor</a>
            </nav>
        </div>
    </header>
    {% endblock %}

    {% block content %}{% endblock %}

    <footer class="footer">
    {% block footer %}
        
    {% endblock %}
    </footer>

    {% block login_modal %}
    <div id="loginModal" class="reveal-modal medium">
        <div class="login-modal-header">
            <img src="{{asset('/bundles/raykustatic/images/logo.png')}}" alt="rayku">
            <a class="close-reveal-modal">&#215;</a>
        </div>
        <div class="row login-form">
            <form action="/login" method="post">
                <div class="row">
                    <div class="large-12 columns">
                        {{ form_widget(form.login_email, { 'attr': {'class': 'login-input'}, 'attr': {'placeholder': 'E-mail'} }) }}
                    </div>
                </div>
                <div class="row">
                    <div class="large-12 columns">
                        {{ form_widget(form.login_password, { 'attr': {'class': 'login-input'}, 'attr': {'placeholder': 'Password'} }) }}
                        <input type="submit" class="abutton login-button"/>
                    </div>
                </div>
                <div class="row">
                    <div class="large-6 columns remember">
                        <label for="checkbox1" class="remember-checkbox">
                        <input name="remember-me" type="checkbox" id="remember-me"><span class="custom checkbox"></span> Remember me</label>
                    </div>
                    <div class="large-6 columns forgot">
                        <a href="#" class="forgot-password">Forgot your password?</a>
                    </div>
                </div>
            </form>
        </div>
        <div class="login-modal-divider1">
        </div>
        <div class="row forgot-email-form">
            <form action="" method="post">
                <div class="row">
                    <div class="large-12 columns">
                        <label class="login-label">Forgot Password</label>
                        <input class="login-input" type="text" placeholder="Enter your e-mail and we'll send it along..." required>
                        <input type="submit" class="abutton submit-button"/>
                    </div>
                </div>
            </form>

        </div>
        <div class="login-modal-footer">
            <div class="copyright">
                <p>Rayku &copy; 2013</p>
            </div>
            <div class="footer-links">
                <ul>
                    <li><a href=#>Privacy</a></li>
                    <li>/</li>
                    <li><a href=#>Legal</a></li>
                    <li>/</li>
                    <li><a href=#>Help</a></li>
                </ul>
            </div>
        </div>
    </div>
    {% endblock %}

    {% block javascripts %}
        <script>
            document.write('<script src=' +
            ('__proto__' in {} ? '/bundles/raykustatic/js/vendor/zepto' : '/bundles/raykustatic/js/vendor/jquery') +
            '.js><\/script>')
        </script>
        <script src="{{ asset('bundles/raykustatic/js/foundation/foundation.js') }}"></script>
        <script src="{{ asset('bundles/raykustatic/js/foundation/foundation.alerts.js') }}"></script>
        <script src="{{ asset('bundles/raykustatic/js/foundation/foundation.clearing.js') }}"></script>
        <script src="{{ asset('bundles/raykustatic/js/foundation/foundation.cookie.js') }}"></script>
        <script src="{{ asset('bundles/raykustatic/js/foundation/foundation.dropdown.js') }}"></script>
        <script src="{{ asset('bundles/raykustatic/js/foundation/foundation.forms.js') }}"></script>
        <script src="{{ asset('bundles/raykustatic/js/foundation/foundation.joyride.js') }}"></script>
        <script src="{{ asset('bundles/raykustatic/js/foundation/foundation.magellan.js') }}"></script>
        <script src="{{ asset('bundles/raykustatic/js/foundation/foundation.orbit.js') }}"></script>
        <script src="{{ asset('bundles/raykustatic/js/foundation/foundation.placeholder.js') }}"></script>
        <script src="{{ asset('bundles/raykustatic/js/foundation/foundation.reveal.js') }}"></script>
        <script src="{{ asset('bundles/raykustatic/js/foundation/foundation.section.js') }}"></script>
        <script src="{{ asset('bundles/raykustatic/js/foundation/foundation.tooltips.js') }}"></script>
        <script src="{{ asset('bundles/raykustatic/js/foundation/foundation.topbar.js') }}"></script>
        <script>
            $(document).foundation();
        </script>
    {% endblock %}
{% endblock %}
