{% extends "::base.html.twig" %}

{% block body %}
	{% block stylesheets %}
		{{ parent() }}
		<link href="{{ asset('bundles/raykupage/css/style.css') }}" type="text/css" rel="stylesheet" media="screen" />
	{% endblock %} 
    <div class="form-box signup-box fade-in">
		<a href="{{ path('rayku_page_homepage') }}" class="logo"></a>
		<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
			<ul>
				<li class="register_input">
					{{ form_row(form.username) }}
				</li>
				<li class="register_input">
					{{ form_row(form.email) }}
				</li>
				<li>
					{{ form_row(form.plainPassword) }}
				</li>
				<li>
					{{ form_row(form.coupon) }}
				</li>
				<li class="left align_right">
					By clicking Get Started you agree to the <a href="#">Terms & Conditions</a>
				</li>
				<li class="right submit">
					{{ form_widget(form._token) }}
					<input type="submit" value="Get Started"  class="bbutton" />
				</li>
			</ul>
			<div class="clear"></div>
		</form>
		<p class="bottom-line">Already have an account? <a href="#" data-reveal-id="loginModal">Sign In to Rayku!</a></p>
	</div>
	{% if is_granted("IS_AUTHENTICATED_ANONYMOUSLY") %}	
		{% render controller("FOSUserBundle:Security:login") %}
	{% endif %}
	
	{% block javascripts %}
		{{ parent() }}
	{% endblock %}
{% endblock %}
