{% extends "::empty.html.twig" %}

{% block content %}
<div id="myTutorModal" class="reveal-modal medium">
  <h2>Complete Your Tutor Profile</h2>
  <div class="large-12 columns">
    <p>Before activating your tutor status, please fill out as much as possible to completeyour tutor profile.</p>
  </div>
  <div class="large-12 columns">
    <form class="custom" action="{{ path('post_tutors') }}" method="post" {{ form_enctype(form) }} id="tutor_save_form">
      <div class="row">
        <div class="row subjects">
          <div class="large-12 columns">
            {{ form_label(form.subjects) }}
            {{ form_widget(form.subjects) }}
          </div>
        </div>
        <div class="row describes">
          <div class="large-12 columns">
            {{ form_label(form.schoolAmount) }}
            {{ form_widget(form.schoolAmount) }}
          </div>
        </div>

        <div class="row schoolname">  
          <div class="large-12 columns">
            {{ form_label(form.schoolName) }}
            {{ form_widget(form.schoolName) }}
          </div>
        </div> 
        <div class="row degree">
          <div class="large-12 columns">
            {{ form_label(form.degree) }}
            {{ form_widget(form.degree) }}
          </div>
        </div>
        <div class="row degree">
          <div class="large-12 columns">
            {{ form_label(form.rate) }}
            {{ form_widget(form.rate) }}
          </div>
        </div>
        <div class="row degree">
          <div class="large-12 columns">
            {{ form_label(form.gtalk_email) }}
            {{ form_widget(form.gtalk_email) }}
          </div>
        </div>
        <div class="row listing-preview">
          <div class="large-12 columns">
            <label>Listing Preview</label>
            <p>(When students search for tutors, you will appear as):</p>
            <p class="preview"><span class="schoolAmount">Under Graduate Degree Holder</span> From <span class="schoolName">Ryerson University</span> - Economics</p>
          </div>
        </div>
      </div>
      {{ form_rest(form) }}
      <input type="submit" class="bbutton" value="Save &amp; Activate Tutor Status" id="submitTutorStatus">
    </form>
  </div>
  <a class="close-reveal-modal">×</a>
</div>
<script>
$('a.current').on('change', function(){
  $('.schoolAmount').html($(this).val());
});
</script>

<div id="turnTutorStatusOff" class="reveal-modal medium">
    <div class="row">
        <div class="large-12 columns">
            <h4>Are you sure you want to turn off your tutor status?</h4>
        </div>
    </div>
    <form id="tutorConfirmStatusForm" name="blah">
        <div class="row">
            <div class="large-2 push-8 columns">
                <input type="submit" class="bbutton" value="Yes" name="tutorStatusButton" id="confirmTutorStatusOff">
            </div>
            <div class="large-2 columns">
                <input type="submit" class="bbutton" value="No" name="tutorStatusButton" id="confirmTutorStatusOn">
            </div>
        </div>
    </form>
    <a class="close-reveal-modal">&#215;</a>
</div>
  
<script type="text/javascript">
$(document).ready(function(){
  {% if entity.deletedAt is null and entity.id is not null %}
    var tutor_id = {{entity.id}};
  {% else %}
    var tutor_id;
  {% endif %}

    if($("#tutorOn").attr("data") === "isTutor"){
        $("#tutorOn").addClass("isTutorBg");
    }
    else{
        $("#tutorOn").removeClass("notTutorBg");
    }
    if($("#tutorOff").attr("data") === "notTutor"){
        $("#tutorOff").addClass("isTutorBg");
    }
    else{
        $("#tutorOff").removeClass("notTutorBg");
    }


  $('#confirmTutorStatusOn').click(function(){
    $('#turnTutorStatusOff').foundation('reveal', 'close');
    return false;
  });
  $('#confirmTutorStatusOff').click(function(){
    $.ajax({
      type: "DELETE",
      url: '/app_dev.php/tutors/'+tutor_id
    }).done(function() {
      tutor_id = '';
    });
    $("#tutorOff").addClass("isTutorBg");
    $("#tutorOn").removeClass("isTutorBg");
    $('#turnTutorStatusOff').foundation('reveal', 'close');
    return false;
  });

  $('#tutorOff').on('click', function(){
    event.preventDefault();
    $("#turnTutorStatusOff").foundation('reveal', 'open');
  });
  
  $('#tutorOn').click(function(event){
    event.preventDefault();
    $('#myTutorModal').foundation('reveal', 'open');
  });

  var options = { 
    error: function(response, status, err){
      var responseJson = $.parseJSON(response.responseText);
      for(field in responseJson.errors){
        $("label[for='"+field+"']").addClass('error');
        $("#"+field).after('<small class="error field_error">'+responseJson.errors[field]+'</small>');
      }
    },
    success: function(response){
      tutor_id = response.entity.id;
      $('#myTutorModal').foundation('reveal', 'close');
      $(".error").removeClass('error');
      $(".field_error").remove();
      $("#tutorOn").addClass("isTutorBg");
      $("#tutorOff").removeClass("isTutorBg");
    }
  };
  $('#tutor_save_form').ajaxForm(options)
});

</script>
{% endblock %}






