{% extends "::base.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/raykupage/css/innerstyle.css') }}" type="text/css" rel="stylesheet" media="screen" />
{% endblock %}

{% block content %}
<div class="container">
    <div class="row dashboard">
        <h1>Tutor edit</h1>

        <form action="{{ path('rayku_tutor_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
            {{ form_widget(edit_form) }}
            <p>
                <button type="submit">Edit</button>
            </p>
        </form>

        <ul class="record_actions">
            <li>
                <a href="{{ path('tutor') }}">
                    Back to the list
                </a>
            </li>
            <li>
                <form action="{{ path('rayku_tutor_delete', { 'id': entity.id }) }}" method="post">
                    {{ form_widget(delete_form) }}
                    <button type="submit">Delete</button>
                </form>
            </li>
        </ul>
    </div>
</div>
{% endblock %}