{% extends "::base.html.twig" %}

{% block content %}
<h1>Tutor list</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Schoolname</th>
            <th>Schoolamount</th>
            <th>Onlineweb</th>
            <th>Onlinegchat</th>
            <th>Rate</th>
            <th>Createdat</th>
            <th>Updatedat</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('tutor_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.schoolName }}</td>
            <td>{{ entity.schoolAmount }}</td>
            <td>{{ entity.onlineWeb }}</td>
            <td>{{ entity.onlineGchat }}</td>
            <td>{{ entity.rate }}</td>
            <td>{% if entity.createdAt %}{{ entity.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>{% if entity.updatedAt %}{{ entity.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('tutor_show', { 'id': entity.id }) }}">show</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
