{% extends "::base.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/raykupage/css/innerstyle.css') }}" type="text/css" rel="stylesheet" media="screen" />
{% endblock %}

{% block content %}
<div class="container">
    <div class="row dashboard">
        <h1>Tutor list</h1>

        <table class="records_list">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Schoolname</th>
                    <th>Schoolamount</th>
                    <th>Onlineweb</th>
                    <th>Onlinegchat</th>
                    <th>Rate</th>
                    <th>Createdat</th>
                    <th>Updatedat</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td><a href="{{ path('rayku_tutor_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                    <td>{{ entity.schoolName }}</td>
                    <td>{{ entity.schoolAmount }}</td>
                    <td>{{ entity.onlineWeb }}</td>
                    <td>{{ entity.onlineGchat }}</td>
                    <td>{{ entity.rate }}</td>
                    <td>{% if entity.createdAt %}{{ entity.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{% if entity.updatedAt %}{{ entity.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('rayku_tutor_show', { 'id': entity.id }) }}">show</a>
                            </li>
                            <li>
                                <a href="{{ path('rayku_tutor_edit', { 'id': entity.id }) }}">edit</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <ul>
            <li>
                <a href="{{ path('rayku_tutor_new') }}">
                    Create a new entry
                </a>
            </li>
        </ul>
    </div>
</div>
{% endblock %}