{% extends "::base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/raykupage/css/innerstyle.css') }}" type="text/css" rel="stylesheet" media="screen" />
    {% if app.user is null %}
    	<link href="{{ asset('bundles/raykupage/css/style.css') }}" type="text/css" rel="stylesheet" media="screen" />
    {% endif %}
{% endblock %}

{% block content %}
    <div class="dashboard">
        <!--Sidebar-->
        <div class="large-3 columns sidebar">
            <div class="row tutor-sidebar">
                <div class="small-12 columns tutor-label profile-sidebar">
                    <ul>
                        <li>
                            <span class="labels">Tutor Since </span> <span class="bio edit">{{ entity.createdAt|date('Y-m-d') }}</span>
                        </li>
                        <!--
                        <li>
                            <span class="labels">436</span><span class="bio edit"> Tutoring Sessions</span>
                        </li>
                        //-->
                        <li>
                            <span class="labels">Last Online</span> <span class="bio edit">{{ entity.onlineWeb|date('Y-m-d') }}</span>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="row tutor-selected">
                <h5><span class="tutor-count">0</span> <span class="tright">Tutor(s) Selected</span> </h5>
                <div class="small-12 columns">
                    <ol id="selectedTutors">
                    </ol>
                    <a href=# class="clear-tutors">Clear All</a>
                </div>
            </div>
        </div>
    <!--End Sidebar-->
    <div class="large-9 columns main-content">
    	<!--User Settings-->  
    	{% if app.user %}
	    	{% include 'RaykuPageBundle:Page:settings.html.twig' with {'usersettingform': usersettingform} %}
	    {% endif %}
    	
    	<!-- User Profile -->
        <div class="row user-profile">
            <div class="large-12 columns user-profile-top">
                <h5>{{ entity.user.username }}</h5>
            </div>
            <div class="large-3 columns user-profile-image">
                <img src="{{ entity.user.imagePath }}" style="height:200px">
            </div>  
            <div class="large-9 columns user-profile-info">
                <ul class="user-profile-items">
                    <li>
                        <h4><span class="name edit">{{ entity.user.firstname }} {{ entity.user.lastname }}</span></h4>
                    </li>
                    <li>
                        <h5><span class="education edit">{{ entity.user.grade }}</span></h5>
                    </li>
                    <li>
                        <span class="school edit">{{ entity.user.school }}</span>
                    </li>
                    <li>
                        <span class="degree edit">{{ entity.user.degree }}</span>
                    </li>
                    <li>
                        <span>Charges a rate of </span> <span class="bio edit">{{ entity.rate }} RP/Min</span>
                    </li>
                    <li>
                        <div class="rating">
                            <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                        </div>
                    </li>
                    <li>
                    	{% if app.user %}
	                    	<form action="{{path('post_session')}}" method="post" class="custom">
		                    	<input type="hidden" value="Direct connection" name="question" id="question" />
		                    	<input type="hidden" class="tutor-check" name="potential_tutors[0][tutor]" value="{{ entity.user.tutor.id }}">
		                    	<input type="submit" class="bbutton direct-connect" value="Connect With Tutor" />
	                        </form>
	                    {% endif %}
                    </li>
                </ul>
            </div>
            <!--End Profile Info-->
            <div class="large-12 columns user-divider">
            </div>
            <!--Ask Form-->
            <div class="large-12 columns ask">
              <form class="custom">
                <div class="row">
                    <div class="large-3 columns ask-q">
                        <h5>Tutor Profile</h5>
                    </div>
                </div>
              </form>
            </div>
            <!--End Ask Form-->
        </div>
        
        {% include 'RaykuPageBundle:Page:notification-modal.html.twig' %}

		
        <div class="row public-profile-sections">
            <div class="large-12 columns">
                <div class="section-container tabs" data-section="tabs">
                    <section class="about">
                        <p class="title" data-section-title><a href="#panel1">About Me</a></p>
                        <div class="content" data-slug="panel1" data-section-content>
                            <p>{{ entity.user.bio }}</p>
                        </div>
                    </section>
                    <section class="reviews">
                        <p class="title" data-section-title><a href="#panel2">Reviews</a></p>
                        <div class="content" data-slug="panel2" data-section-content>
                            <ul>
                                {% for review in entity.user.tutor.reviews %}
                                    <li>
                                    <div class="row">
                                        <div class="large-12 columns">
                                            <h6>{{ review.reviewer }} Says</h6>
                                        </div>
                                        <div class="large-12 columns">
                                            <p>"{{ review.review }}"</p>
                                        </div>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </section>
                    <div data-section-region class="section contact">
                        <p class="title" data-section-title><a href="#panel3">Contact Me</a></p>
                        <div class="content" data-slug="panel3" data-section-content>
                            <form>
                                <div class="row collapse">
                                    <div class="large-2 columns">
                                        <label class="inline">Your Name</label>
                                    </div>
                                    <div class="large-10 columns">
                                        <input type="text" id="yourName" placeholder="Jane Smith">
                                    </div>
                                </div>
                                <div class="row collapse">
                                    <div class="large-2 columns">
                                        <label class="inline"> Your Email</label>
                                    </div>
                                    <div class="large-10 columns">
                                        <input type="text" id="yourEmail" placeholder="jane@smithco.com">
                                    </div>
                                </div>
                                <label>Message</label>
                                <textarea rows="4" placeholder="Want to set up a lesson? Send {{ entity.user.firstname }} a note about what you you need help with and set up a time to meet."></textarea>
                                <button type="submit" class="radius button">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
{% endblock %}