<h1>Tutor</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Schoolname</th>
            <td>{{ entity.schoolName }}</td>
        </tr>
        <tr>
            <th>Schoolamount</th>
            <td>{{ entity.schoolAmount }}</td>
        </tr>
        <tr>
            <th>Onlineweb</th>
            <td>{{ entity.onlineWeb }}</td>
        </tr>
        <tr>
            <th>Onlinegchat</th>
            <td>{{ entity.onlineGchat }}</td>
        </tr>
        <tr>
            <th>Rate</th>
            <td>{{ entity.rate }}</td>
        </tr>
        <tr>
            <th>Createdat</th>
            <td>{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Updatedat</th>
            <td>{{ entity.updatedAt|date('Y-m-d H:i:s') }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('tutor') }}">
            Back to the list
        </a>
    </li>
</ul>
