{% extends "::base.html.twig" %}

{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset('bundles/raykupage/css/style.css') }}" type="text/css" rel="stylesheet" media="screen" />
{% endblock %}

{% block header %}
<header>
    <div class="inside">
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <a href="{{ path('rayku_page_dashboard') }}" id="logo"><img src="{{asset('bundles/raykupage/images/logo.png')}}" alt="" /></a>
        {% else %}
        	<a href="{{ path('rayku_page_homepage') }}" id="logo"><img src="{{asset('bundles/raykupage/images/logo.png')}}" alt="" /></a>
            <nav>
                <a href="#" class="ask-login-button" data-reveal-id="loginModal">Login</a>
                <a href="{% block signuplink %}{{ path('fos_user_registration_register') }}{% endblock %}" class="signup-user">Signup</a>
                <a href="{{ path('rayku_page_become_a_tutor') }}">Become a Tutor</a>
            </nav>
        {% endif %}
    </div>
</header>
{% endblock %}

{% block content %}
<div id="timeline">
	<div class="inside">
		<hgroup>
			<h2>We’re not your avarage startup</h2>
			<h3>Whether you need help at 1am before a big test, or you're looking for a little extra study assistance, we're here to help! Rayku brings accessible education to the world, backed by an awesome team motivated by your success.</h3>
		</hgroup>
		<div class="left">
			<div class="event fade-in one">
				<img src="{{asset('bundles/raykupage/images/event_1.jpg')}}" alt="" />
				<p class="text">
					Rayku graduates from Launchpad Ignition
					<em>May 2011</em>
				</p>
			</div>
			<div class="event fade-in three">
				<img src="{{asset('bundles/raykupage/images/event_3.jpg')}}" alt="" />
				<p class="text">
					Beta version is launched to North America
					<em>April 2012</em>
				</p>
			</div>
		</div>
		<div class="right">
			<div class="event fade-in two">
				<img src="{{asset('bundles/raykupage/images/event_2.jpg')}}" alt="" />
				<p class="text">
					Rayku impresses on BNN's “The Pitch”
					<em>December 2011</em>
				</p>
			</div>
			<div class="event fade-in four">
				<p class="twitter">
					<strong>Rayku</strong> @rayuedu<br/>
					Finally finished our raise, while adding decades of experience to our killer board of advisors!<br/>
					<a href="http://twitter.com/raykuedu" target="_blank">Details</a>
				</p>
				<p class="text">
					Rayku adds industry experts to board
					<em>November 2012</em>
				</p>
			</div>
			<div class="event fade-in five">
				<img src="{{asset('bundles/raykupage/images/event_4.jpg')}}" alt="" />
				<p class="text">
					Rayku helps new users each day
					<em>Today</em>
				</p>
			</div>
		</div>
		<div class="timeline-row">
			<em>2011</em>
		</div>
		<div class="clear"></div>
	</div>
</div>
<div id="behind">
	<div class="inside">
		<hgroup>
			<h2>Who’s behind Rayku?</h2>
			<h3>Meet the people behind the company, working around the clock to help you succeed</h3>
		</hgroup>
	</div>
	<ul class="team">
		<li>
			<a href="#">
				<img src="http://rayku.com/images/prf3.png" alt="" />
			</a>
			<strong>Aron Solomon</strong>
			<em>Advisor</em>
			<span class="line"></span>
			<span class="line left"></span>
		</li>
		<li>
			<a href="#">
				<img src="http://rayku.com/images/prf2.png" alt="" />
			</a>
			<strong>Chris Voutsinas</strong>
			<em>Advisor</em>
			<span class="line"></span>
		</li>
		<li>
			<a href="#">
				<img src="http://rayku.com/images/prf5.png" alt="" />
			</a>
			<strong>Paul Jackson</strong>
			<em>Advisor</em>
			<span class="line"></span>
		</li>
		<li class="before">
			<a href="#">
				<img src="http://rayku.com/images/prf8.png" alt="" />
			</a>
			<strong>Alex Allevato</strong>
			<em>BD Lead</em>
			<span class="line"></span>
		</li>
		<li class="active">
			<a href="#">
				<img src="http://rayku.com/images/prf1.png" alt="" />
			</a>
			<strong>Donny Ouyang</strong>
			<em>President</em>
			<span class="line"></span>
		</li>
		<li>
			<a href="#">
				<img src="http://rayku.com/images/prf9.png" alt="" />
			</a>
			<strong>Colin Hutchinson</strong>
			<em>Tech Lead</em>
			<span class="line"></span>
		</li>
		<li>
			<a href="#">
				<img src="http://rayku.com/images/prf4.png" alt="" />
			</a>
			<strong>Peter Carrescia</strong>
			<em>Advisor</em>
			<span class="line"></span>
		</li>
		<li>
			<a href="#">
				<img src="http://rayku.com/images/prf7.png" alt="" />
			</a>
			<strong>Justin Brooke</strong>
			<em>Advisor</em>
			<span class="line"></span>
		</li>
		<li>
			<a href="#">
				<img src="http://rayku.com/images/prf6.png" alt="" />
			</a>
			<strong>Geoff Simonett</strong>
			<em>Advisor</em>
			<span class="line"></span>
		</li>
	</ul>
	<div class="member-info">
		<div class="info">
			<h4>Aron Solomon <a href="https://twitter.com/aronsolomon" target="_blank" class="right twitter-follow" title="Follow @aronsolomon"></a></h4>
			<p>Advisor</p>
			<p>Aron is a global strategist, entrepreneur, and advisor, having done everything one can do in education - from teaching and coaching sports to fundraising, student recruitment, setting institutional strategy, and actually running schools. He was previously Chief Operating Officer of an early global e.learning initiative, and CEO of THINK Global School. Aron studied at the University of Toronto, Stanford, McGill, and Kellogg Graduate School of Management, where he was taught leadership under Dr. Deepak Chopra.</p>
		</div>
		<div class="info">
			<h4>Chris Voutsinas</h4>
			<p>Advisor</p>
			<p>Christopher is President at Capital Value & Income Corp. Christopher has held senior strategic roles at leading institutions, including Goldman Sachs (Executive Director), Deutsche Bank (Managing Director), and OMERS (Global Head of Investment). He has also advised numerous public and private companies, including TELUS and Wave Accounting. Christopher received an M.B.A. from the Wharton School of Business, an M.S. from M.I.T., and a Bachelor of Architecture from McGill University.</p>
		</div>
		<div class="info">
			<h4>Paul Jackson <a href="https://twitter.com/donnyouyang" target="_blank" class="right twitter-follow" title="Follow @donnyouyang"></a></h4>
			<p>Advisor</p>
			<p>Paul is CEO and founder of <a href="http://methodcrm.com" target="_blank">Method CRM</a>, with a focus on product development, user experience and data integration between SaaS applications. Previously, he founded LM Software and QXpress, which were acquired by Marathon Data Systems. Paul is also an angel investor and advisor to several local tech start-ups. Paul holds a BComm from Queen’s University.</p>
		</div>
		<div class="info">
			<h4>Alex Allevato</h4>
			<p>Business Development Lead</p>
			<p>Before Alex was Alex, he worked in financial sales and trading as well as tech consulting. He is a graduate of Wilfrid Laurier University. When not at the office, Alex plays and coaches Hockey and if you ask politely, he’ll recite the entire poem The Raven by Edgar Allan Poe (Seriously!). Alex joined Rayku to drive traffic, build strategic relationships, and provide service to Rayku’s community of tutors and students. </p>
		</div>
		<div class="info show">
			<h4>Donny Ouyang <a href="https://twitter.com/donnyouyang" target="_blank" class="right twitter-follow" title="Follow @donnyouyang"></a></h4>
			<p>President</p> 
			<p>Donny started Rayku to address his previous struggles with homework, having tried alternative solutions with no success. Before Rayku, Donny was the founder of Kinkarso Tech. With entrepreneurship as his life, Donny has spoken at M.I.T. on the subject, was named a 'Top 10 Under 20' by Vancouver Magazine, and is the global recipient of the 2010 Student Entrepreneur of the Year award. When he's not hammering away at the office, Donny enjoys rooting for the Vancouver Canucks, and playing Plants vs. Zombies.</p>
		</div>
		<div class="info">
			<h4>Colin Hutchinson</h4>
			<p>Technology Lead</p>
			<p>Colin leads technology at Rayku. Bio to come...</p>
		</div>
		<div class="info">
			<h4>Peter Carrescia <a href="https://twitter.com/pcarrescia" target="_blank" class="right twitter-follow" title="Follow @pcarrescia"></a></h4>
			<p>Advisor</p>
			<p>Peter is a seasoned technologist and investor. Previously, in his role as Managing Director at OMERS Ventures, Peter invested in high-growth companies in the technology, media, and telecommunications sectors, including Wave Accounting and Extreme Startups. Peter previously held roles at VG Partners (General Partner), Microsoft Corp. (North America technology evangelist), and IBM (National Technology Manager). Peter received an M.B.A. from Schulich School of Business and a Joint Honours B.Math in Computer Science and Business Administration from the University of Waterloo.</p>
		</div>
		<div class="info">
			<h4>Justin Brooke <a href="https://twitter.com/justinbrooke" target="_blank" class="right twitter-follow" title="Follow @justinbrooke"></a></h4>
			<p>Advisor</p>
			<p>Justin Brooke is an author, international speaker, and blogger. Justin has a software business, e-learning business, and service business all centered around the topic of helping companies get more website traffic. His online marketing strategies are responsible for tens of millions of dollars in revenue. Justin pioneered SEO strategies that became standard in the industry. He has consulted for millionaires including Trump University and spoken on stages from California to London.</p>
		</div>
		<div class="info">
			<h4>Geoff Simonett</h4>
			<p>Advisor</p>
			<p>Geoff is the founder and President of GreenSky Capital in Toronto, a boutique corporate financial advisory firm and Exempt Market Dealer. Geoff is an accomplished entrepreneur with two decades of experience starting, operating and successfully exiting multiple companies acting as a principal, advisor, investor, board member, mentor and/or consultant. He has participated in the growth and success of many early stage companies both in Canada and the United States. Geoff received a Commerce degree from Queen's University.</p>
		</div>
	</div>
	<div class="clear"></div>
</div>

<div id="contact-us">
	<a name="contact" />
	<div class="contact-info">
		<h3>Get in touch with us!</h3>
		<p>Rayku is based in Toronto, Canada.</p>
		<ul>
			<li>
				<strong>Our Office:</strong>
				Rayku Corp.<br/>
				10 Dundas St E Suite 502<br/>
				Toronto, Ontario, Canada
			</li>
			<li>
				<strong>Give us a call:</strong>
				<span class="phone">1-888-987-2958</span>
			</li>
			<li>
				<strong>Send us an email:</strong>
				<a href="mailto:cs@rayku.com">cs@rayku.com</a>
			</li>
		</ul>
	</div>
</div>
{% endblock %}