{% extends "::base.html.twig" %}

{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset('bundles/raykupage/css/innerstyle.css') }}" type="text/css" rel="stylesheet" media="screen" />
{% endblock %}

{% block content %}
<div class="dashboard">
    <!--Sidebar-->
		<div class="large-3 columns sidebar">
    		<div class="row tutor-sidebar">
                <div class="small-12 columns tutor-label">
                    <h5>Tutor</h5>
                    <div class="tutor-switch">
                        <label><input type="radio" name="toggle" id="tutorOn" {% if app.user.isTutor %} checked="checked"{% endif %}><span>On</span></label>
                        <label><input type="radio" name="toggle" id="tutorOff" {% if app.user.isTutor == false %} checked="checked"{% endif %}><span>Off</span></label>
                    </div>
    		    </div>
    		</div>
    		{% if app.user.isTutor %}
	            <div class="row tutor-status-bar">
	                <div class="small-12 columns tutor-status">
	                    <h5>Status <span>
	                    Online
	                    </span></h5>
	                </div>
	            </div>
	        {% endif %}

            <div class="row tutor-selected">
                <h5><span class="tutor-count">0</span> <span class="tright">Tutor(s) Selected</span> </h5>
                <div class="small-12 columns">
                    <ol id="selectedTutors">
                    </ol>
                    <a href=# class="clear-tutors">Clear All</a>
                </div>
            </div>
		</div>
    <!--End Sidebar-->

    <!--Main Content-->
	<div class="large-9 columns main-content">
        
        <!-- User Profile -->
        <div class="row user-profile">
            <div class="large-12 columns user-profile-top">
                <h6><a href="#" title="Buy Rayku Points" class="rayku-points">{{app.user.points}}RP</a></h6>
                <h5>{{ app.user.username }}</h5>
            </div>
            <div class="large-12 columns user-rayku-points">
                <form class="buy-rayku-points custom" name="buy_rayku_points" action="/paypal.php" method="post">
                    <div class="row">
                        <div class="large-3 columns ask-q">
                            <h5>Buy Rayku Points</h5>
                        </div>
                        <div class="large-6 columns">
                            <label for="customDropdown1">You have <span class="rpoints">0</span> Rayku Points. Buy Some More.</label>
                            <select id="customDropdown1" class="large" name="amount">
                                <option DISABLED>Points</option>
                                <option value="5">500 Points for $5</option>
                                <option value="10">1000 Points for $10</option>
                                <option value="25">2500 Points for $25</option>
                                <option value="50">5000 Points for $50</option>
                                <option value="100">10000 Points for $100</option>
                            </select>
                        </div>
                        <div class="large-3 columns">
                        	<input type="hidden" name="loginid" value="{{ app.user.id }}" />
                            <input type="submit" class="bbutton" value="Buy">
                        </div>
                    </div>
                </form>
            </div>
            <div class="large-3 columns user-profile-image">
                <img src="{{ asset('bundles/raykupage/images/profile_image_blank.jpg') }}">
            </div>  
            <div class="large-9 columns user-profile-info">
                <ul class="user-profile-items">
                    <li>
                        <a href="#" class="raphael edit-tool">></a>
                        <form class="user-profile-edit-form" name="name">
                            <label>Name</label>
                            <input type="text" placeholder="{{ app.user.firstname }}" name="current_first_name" class="form-field">
                            <input type="text" placeholder="{{ app.user.lastname }}" name="current_last_name" class="form-field">
                            <input type="submit" class="bbutton" value="Save">
                            <a href=# class="close-edit">x</a>
                        </form>
                        <h4><span class="name edit">{{ app.user.firstname }} {{ app.user.lastname }}</span></h4>
                    </li>
                    <li>
                        <a href="#" class="raphael edit-tool">></a>
                        <form class="user-profile-edit-form" name="education">
                            <label>Education</label>
                            <input type="text" placeholder="{{ app.user.grade }}" name="current_grade" class="form-field">
                            <input type="submit" class="bbutton" value="Save">
                            <a href=# class="close-edit">x</a>
                        </form>
                        <h5><span class="education edit">{{ app.user.grade }}</span></h5>
                    </li>
                    <li>
                        <a href="#" class="raphael edit-tool">></a>
                        <form class="user-profile-edit-form" name="school">
                            <label>University</label>
                            <input type="text" placeholder="{{ app.user.school }}" name="current_school" class="form-field">
                            <input type="submit" class="bbutton" value="Save">
                            <a href=# class="close-edit">x</a>
                        </form>
                        <span>School:</span> <span class="school edit">{{ app.user.school }}</span>
                    </li>
                    <li>
                        <a href="#" class="raphael edit-tool">></a>
                        <form class="user-profile-edit-form" name="degree">
                            <label>Degree</label>
                            <input type="text" placeholder="{{ app.user.degree }}" name="current_degree" class="form-field">
                            <input type="submit" class="bbutton" value="Save">
                            <a href=# class="close-edit">x</a>
                        </form>
                        <span>Degree:</span> <span class="degree edit">{{ app.user.degree }}</span>
                    </li>
                    <li>
                        <a href="#" class="raphael edit-tool">></a>
                        <form class="user-profile-edit-form" name="bio">
                            <label>Bio</label>
                            <textarea class="form-field" name="current_bio">{{ app.user.bio }}</textarea>
                            <input type="submit" class="bbutton" value="Save">
                            <a href=# class="close-edit">x</a>
                        </form>
                        <span>Bio:</span> <span class="bio edit">{{ app.user.bio }}</span></li>
                </ul>
                <ul class="user-profile-buttons">
                    <li><a href=# class="bbutton edit-button"><span class="raphael">></span>Edit Profile</a></li>
                    <li>
                      <form name="master-form" method="post" class="user-profile-master-form" action="{{ path('post_user', {'user': app.user.id }) }}">
                        {{ form_widget(userform.first_name) }}
                        {{ form_widget(userform.last_name) }}
                        {{ form_widget(userform.school) }}
                        {{ form_widget(userform.grade) }}
                        {{ form_widget(userform.degree) }}
                        {{ form_widget(userform.bio) }}
                        {{ form_rest(userform) }}
                        <input type="submit" value="Done Editing" class="bbutton done-button">
                      </form>
                    </li>
                </ul>
            </div>
            <script>
            $(function(){
                var change = 0;
                var valarr = []; //declare an empty array
                //On submitting each individual form
                $('form.user-profile-edit-form').on('submit', function(event){
                    event.preventDefault(); //prevent reloading page by clicking submit
                    var current_form_name = $(this).attr('name'); //get the current form name

                    //for each input field with class .form-field within the current form
                    $('form[name="'+current_form_name+'"] .form-field').each(function(){
                        var field_value = $(this).val(); //get the field value
                        var field_name = $(this).attr('name').replace("current_", ""); //get the field name and split it to get the appropriate identifier

                        if(field_value !== ""){
                            //set the equivalent input field in master form to the value of the current input field
                            $('form.user-profile-master-form input[name="'+ field_name +'"]').val(field_value);
                            valarr.push(field_value); //push the value into an array
                        }
                    });

                    // To display on the page if the form had one or more fields
                    if(valarr.length > 1){
                        $('.'+current_form_name).html(valarr.join(", "));
                    }
                    else{
                        $('.'+current_form_name).html(valarr.join(""));
                    }
                    //Hide the current form
                    $(this).hide(100);
                    valarr = [];
                    return false;
                });

                //When done profile editing, submit the form. Should be done via Ajax
                $('form.user-profile-master-form').ajaxForm(function() { 
                	valarr = [];
                });

                //slide down rayku points form
                $('.rayku-points').click(function(event){
                    event.preventDefault();
                    $('.user-rayku-points').slideToggle();
                });
            });
            </script>
            <!--End Profile Info-->
            <div class="large-12 columns user-divider">
            </div>
            <!--Ask Form-->
            <div class="large-12 columns ask">
              <form class="custom">
                <div class="row">
                  <div class="large-3 columns ask-q">
                    <h5>Find suitable tutor for</h5>
                  </div>
                  <div class="large-3 columns school">
                    <!--
                    <select id="schoolSelect" class="medium" name="school">
                      <option>Choose Institution</option>
                      <option value="high school" name="selectlevel">High School</option>
                      <option value="university" name="selectlevel">University</option>
                    </select>
                    //-->
                  </div>

                  <div class="large-3 columns institution" id="placeholder">
                    <!--
                    <select id="instSelect" class="medium" disabled>
                        <option value="Choose" name="choose" id="choose">Select An Institution</option>
                    </select>
                    //-->
                  </div>

                  <div class="large-3 columns institution" id="highschool">
                    <!--
                    <select name="highschool" class="medium" disabled>
                        <option value="Choose" name="choose" id="choose">Choose Grade</option>
                        <option value="grade 1">Grade 1</option>
                        <option value="grade 2">Grade 2</option>
                        <option value="grade 3">Grade 3</option>
                        <option value="grade 4">Grade 4</option>
                        <option value="grade 5">Grade 5</option>
                        <option value="grade 6">Grade 6</option>
                        <option value="grade 7">Grade 7</option>
                        <option value="grade 8">Grade 8</option>
                        <option value="grade 9">Grade 9</option>
                        <option value="grade 10">Grade 10</option>
                        <option value="grade 11">Grade 11</option>
                        <option value="grade 12">Grade 12</option>
                    </select>
                    //-->
                  </div>
                  <div class="large-3 columns institution" id="university">
                    <!--
                    <select name="university" class="medium" disabled>
                        <option value="Choose" name="choose" id="choose">Choose Year</option>
                        <option value="year 1">Year 1</option>
                        <option value="year 2">Year 2</option>
                        <option value="year 3">Year 3</option>
                        <option value="year 4">Year 4</option>
                        <option value="year 5">Year 5</option>
                    </select>
                    //-->
                  </div>

                  <div class="large-3 columns category">
                    <select id="categorySelect" class="medium" name="category">
                      <option>Choose Category</option>
                      <option value="General Math">General Math</option>
                      <option value="Pre-Algebra">Pre-Algebra</option>
                      <option value="Geometry">Geometry</option>
                      <option value="Algebra">Algebra</option>
                      <option value="Trigonometry">Trigonometry</option>
                      <option value="Calculus">Calculus</option>
                      <option value="Statistics">Statistics & Probability</option>
                      <option value="Advanced Math">Advanced Math</option>
                    </select>
                  </div>

                  <div class="large-12 columns question-container">
                    <div class="input-container">
                      <input type="text" placeholder="What is your question? Or view online tutors" name="ask" id="base_question">
                    </div>
                    <input type="submit" class="bbutton" value="View Online Tutors" name="aSubmit">
                  </div>
                </div>
              </form>
            </div>
            <!--End Ask Form-->
        </div>

      
    <!--Tutor List-->
    <div class="row tutor-list">
     Loading ...
    </div>
  </div>
  <!--End Tutor List-->
</div>

{% render url('rayku_tutor_new') %}

<div id="connectNotifModal" class="reveal-modal large connectNotif">
    <h2>Notifications</h2>
    <a class="close-reveal-modal">&#215;</a>
	<div class="row connectNotifRow" style="display:none" id="connectRow_id_">
        <div class="large-1 columns connectNotifImage">
            <img src="http://placehold.it/1100x1100">
        </div>
        <div class="large-7 columns connectNotifInfo">
            <ul>
                <li>_name_</li>
                <li>_question_</li>
            </ul>
        </div>
        <div class="large-2 columns">
        	<form method="post" action="{{ path('post_session_accept', {'session': '_id_'}) }}" class="post_session_accept">
        		<button type="submit" name="Confirm" class="bbutton accept">Accept</button>
            </form>
        </div>
        <div class="large-2 columns">
        	<form method="post" action="{{ path('post_session_deny', {'session': '_id_'}) }}">
        		<button type="submit" name="Decline" class="abutton decline">Decline</button>
        	</form>
        </div>
	</div>
</div>

{% if ratesessionform is defined %}
<div id="rateTutorModal" class="reveal-modal medium rateTutor">
    <div class="row">
        <div class="large-12 columns">
            <h3>Rate Your Tutor</h3>
        </div>
    </div>
    <div class="large-12 columns rate-tutors">
        <form id="rateTutorForm" class="custom" name="rate-tutor" action="{{ path('post_session_rate', {'session': session.id}) }}" method="post">
            <div class="row">
                <div class="large-9 columns">
                    <label for="rateTutor">{{ session.selectedtutor }}</label>
                    {{ form_widget(ratesessionform.rating) }}
                    {{ form_rest(ratesessionform) }}
                </div>
                <div class="large-3 columns">
                    <input type="submit" class="bbutton" value="Rate">
                </div>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
$(document).ready(function(){
	$('#rateTutorModal').foundation('reveal', 'open');
    $('#rateTutorForm').ajaxForm(function() { 
    	 $('#rateTutorModal').foundation('reveal', 'close');
	});
});
</script>
{% endif %}


<script type="text/javascript">
//DO NOT BREAK THIS JAVASCRIPT UP
$(document).ready(function(){
    //Submit Question
    $('input[name="aSubmit"]').click(function(event){
    	event.preventDefault();
    	$('.tutor-list').html('Loading ... ');
        $.ajax('{{path('rayku_tutor')}}')
		    .always(function(xhr, status) { 
				if(status === 'error' || !xhr.responseText){
					$('.tutor-list').html('There was an error loading tutors');
				}else{
					$('.tutor-list').html(xhr.responseText);
				}
			});
        $('.tutor-list').fadeIn('slow');
        $('.tutor-selected').fadeIn('fast');
        
        
        //disable all checkboxes for tutors that are busy
        $('form#tutorList :input').each(function(){
            var input = $(this);
            if($(this).attr("data-tutor-status") == 1){
                $(this).attr('disabled', true);
            }
        });

    });

    //set all busy tutors to show a red background
    $('table#tutorTable tr td').each(function(){
        var column = $(this);
        if(column.hasClass('busy')){
            column.find('a').addClass('tutor-busy');
        }
    });

    //Clear selected tutors
    $('.clear-tutors').click(function(event){
        event.preventDefault();
        tutorCount = 0; //set the selected tutor count back to 0
        tutorList.splice(0, tutorList.length); //delete all tutors from the tutor list
        $("#selectedTutors li").remove(); //remove selected tutors from ol list
        $('input[name="tutor"]').attr('checked', false); //set all checked tutors to unchecked
        $('span.tutor-count').html("0"); //reset the count on the page
    });
});
</script>
{% endblock %}

{% block head %}
	{{ parent() }}
	{% if app.user %}
		<script src="{{ asset('bundles/raykupage/js/jquery_poll/lib/jquery.smart-poll.js') }}"></script>
		<script type="text/javascript">
		$.poll(5000, function(retry){
			$.get('{{ path('get_sessions') }}', function(response, status){
				jQuery.each(response, function() {
					var current_messages = parseInt($('.notif-count').html());
					$('.notif-count').html(response.length);
					var template = $('#connectRow_id_').prop("outerHTML");
					template = template.replace('_name_', this.student.first_name+' '+this.student.last_name);
					template = template.replace('_question_', this.question);
					template = template.replace(/_id_/g, this.id);
					$('#connectNotifModal').append(template);
					$('#connectRow'+this.id).show();
					if(response.length > current_messages){
						$('#connectNotifModal').foundation('reveal', 'open');
					}
					$('.post_session_accept').ajaxForm(function(response) { 
						if(response.success){
							window.location.href = response.redirect;
						}else if(response.success !== false){
							alert(response.message);
						}else{
							alert('an unknown error has occured');
						}
					})
				})
				retry();
			})
		})
		</script>
	{% endif %}
{% endblock %}