<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{% block title %}Rayku{% endblock %}</title>
	<link href="{{ asset('bundles/raykupage/css/foundation.css') }}" type="text/css" rel="stylesheet" media="screen" />
	<link href="{{ asset('bundles/raykupage/css/app.css') }}" type="text/css" rel="stylesheet" media="screen" />
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script type="text/javascript" src="{{ asset('bundles/raykupage/js/script.js') }}"></script>
	<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
	<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>	
</head>
<body>
<div class="container">
	<header id="header">
	    <div class="inside">
	        <a href="/app_dev.php/dashboard" id="logo"><img src="http://www.rayku.local/bundles/raykupage/images/logo.png" alt="" /></a>
	        <nav>
	            <a href=# class="notification" data-reveal-id="connectNotifModal"><span class="raphael">M</span><span class="notif-count">0</span></a>
	            <a href=# class="settings"><span class="raphael">`</span></a>
	            <a href=# class="logged-in-as"><span class="liau">Logged in as rayku</span> <div class="arrow-down"></div></a> 
	            <div class="submenu" id="submenu">
                    <div class="arrow-up"></div>
                    <ul class="submenu-item">
                        <li><a class="home" href=#><span class="raphael">L</span>Home</a></li>
                        <li><a class="practice" href="http://whiteboard.rayku.local:8080/standalone" target="_blank"><span class="raphael">b</span>Practice Whiteboard</a></li>
                        <li><a class="broadcast" href=#><span class="raphael">Æ</span>Broadcast Session</a></li>
                        <li><a class="setting" href=#><span class="raphael">`</span>Settings</a></li>
                        <li><a class="buyPoints" href=#><span class="raphael">`</span>Buy Rayku Points</a></li>
                        <li><a class="whiteboard" href=#><span class="raphael">`</span>Go To Whiteboard</a></li>
                        <li><a class="logout" href="/app_dev.php/logout"><span class="raphael">v</span>Logout</a></li>
                    </ul>
                </div>
	        </nav>
	    </div>
	</header>
	<div class="row" id="main-content">
		{% if user.id is null %}
			{% include 'RaykuPageBundle:Page:registration_modal.html.twig' with {'form': registrationform} %}
		{% endif %}
		<!------------------------------
		SIDE NAVIGATION
		-------------------------------->
		<div class="large-4 columns" id="sidebar">
			<h3 class="userfullname"><img src="http://www.rayku.local/uploads/users/161a50c635cebda7bdfcf87a20f7266708401843.jpeg">{{ user.firstname }} <br><span class="lastname">{{ user.lastname }}</span></h3>
			<h3 class="userstatus"><span class="status">{% if user.isTutor %}Tutor{% endif %}{% if user.isTutor == false %}Student{% endif %}</span><span class="online">&nbsp;</span></h3>
			<ul class="sidebar-nav">
				<li class="divider"></li>
				<li class="active"><a class="dashboard" href=#><span class="raphael">S</span> Dashboard</a></li>
				<li class="divider"></li>
				<li><a class="profile" href=#><span class="raphael">L</span> Profile</a></li>
				<li class="divider"></li>
				<li><a class="practice" href=#><span class="raphael">></span> Practice</a></li>
				<li class="divider"></li>
				<li><a class="broadcast" href=#><span class="raphael">Æ</span> Broadcast</a></li>
				<li class="divider"></li>
				<li><a class="buyPoints" href=#><span class="raphael">#</span> Buy Rayku Points</a></li>
				<li class="divider"></li>
				<li><a class="userWhiteboard" href=#><span class="raphael">?</span> Go to Whiteboard</a></li>
				<li class="divider"></li>
			</ul>
			<ul class="logout">
				<li class="divider"></li>
				<li><a href=#><span class="raphael">Ï</span> Logout</a></li>
			</ul>
		</div>

		<div class="large-8 columns" id="content-body">
			<div class="row content-header">
				<h3><span class="raphael">S</span>Dashboard</h3>
			</div>
			<div class="row" id="content">
				<input type="text" placeholder="What is your question?">
				
			<!------------------------------
			TUTOR LIST TABLE
			-------------------------------->
				<div class="large-8 columns tutor-list">
					<h3>Online Tutors<a href="#" class="raphael">0</a></h3>
					<form action="{{path('post_session')}}" method="post" class="custom" id="create_session">
					  	<input type="hidden" value="" name="question" id="question" />
					  	<table class="tutorTable">
					  		<tbody>
					  			<tr class="tutorDetails">
					  				<td class="one"><img src="http://www.rayku.local/uploads/users/161a50c635cebda7bdfcf87a20f7266708401843.jpeg" style="width:50px;"></td>
					  				<td class="two"><p><span class="tutorName">Sam Peter Jnr</span><br><span class="tutorBio">Undergraduate Degree Holder From Dalhousie University</span><br><span class="tutorRP">40 RP/Min</span></p></td>
					  				<td class="three"><input type="checkbox"></td>
					  			</tr>
					  			<tr class="tutorDetails">
					  				<td><img src="http://www.rayku.local/uploads/users/161a50c635cebda7bdfcf87a20f7266708401843.jpeg" style="width:50px;"></td>
					  				<td><p><span class="tutorName">Sam Peter Jnr</span><br><span class="tutorBio">Undergraduate Degree Holder From Dalhousie University</span><br><span class="tutorRP">40 RP/Min</span></p></td>
					  				<td><input type="checkbox"></td>
					  			</tr>
					  			<tr class="tutorDetails">
					  				<td><img src="http://www.rayku.local/uploads/users/161a50c635cebda7bdfcf87a20f7266708401843.jpeg" style="width:50px;"></td>
					  				<td><p><span class="tutorName">Sam Peter Jnr</span><br><span class="tutorBio">Undergraduate Degree Holder From Dalhousie University</span><br><span class="tutorRP">40 RP/Min</span></p></td>
					  				<td><input type="checkbox"></td>
					  			</tr>
					  			<tr class="tutorDetails">
					  				<td><img src="http://www.rayku.local/uploads/users/161a50c635cebda7bdfcf87a20f7266708401843.jpeg" style="width:50px;"></td>
					  				<td><p><span class="tutorName">Sam Peter Jnr</span><br><span class="tutorBio">Undergraduate Degree Holder From Dalhousie University</span><br><span class="tutorRP">40 RP/Min</span></p></td>
					  				<td><input type="checkbox"></td>
					  			</tr>
					  			<tr class="tutorDetails">
					  				<td><img src="http://www.rayku.local/uploads/users/161a50c635cebda7bdfcf87a20f7266708401843.jpeg" style="width:50px;"></td>
					  				<td><p><span class="tutorName">Sam Peter Jnr</span><br><span class="tutorBio">Undergraduate Degree Holder From Dalhousie University</span><br><span class="tutorRP">40 RP/Min</span></p></td>
					  				<td><input type="checkbox"></td>
					  			</tr>
					  			<tr class="tutorDetails">
					  				<td><img src="http://www.rayku.local/uploads/users/161a50c635cebda7bdfcf87a20f7266708401843.jpeg" style="width:50px;"></td>
					  				<td><p><span class="tutorName">Sam Peter Jnr</span><br><span class="tutorBio">Undergraduate Degree Holder From Dalhousie University</span><br><span class="tutorRP">40 RP/Min</span></p></td>
					  				<td><input type="checkbox"></td>
					  			</tr>
					  		</tbody>
					  	</table>
					    <input value="Connect" type="submit" class="bbutton" id="tutorConnect">
					</form>
				</div>
				<div class="large-2 columns tutor-points">
					<h3><span class="raphael">#</span><span class="title">Rayku Points</span></h3>
					<h4>{{user.points}}</h4>
				</div>
				<div class="large-2 columns tutor-rating">
					<h3><span class="raphael">$</span><span class="title">Tutor Rating<span></h3>
					<h4>1000</h4>
				</div>

			<!------------------------------
			PAST SESSIONS LIST
			-------------------------------->
				<div class="large-4 columns" id ="sessions-list">
					<h3>Past Sessions</h3>
					<table>
						<tbody>
							<tr>
								<td>1</td>
								<td>Session With Blaise Kripky</td>
								<td><a href="#">View</a></td>
							</tr>
							<tr>
								<td>2</td>
								<td>Session With Sheldon Cooper</td>
								<td><a href="#">View</a></td>
							</tr>
							<tr>
								<td>3</td>
								<td>Session With Anton Wright</td>
								<td><a href="#">View</a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			
			<!------------------------------
			USER PROFILE
			-------------------------------->
			<div class="row userprofile" id="userprofile">
				<div class="large-12 columns" id="profile">
					<h3>User Profile</h3>
					<div class="row">
						<div class="large-3 columns sidenav">
							<img src="http://www.rayku.local/uploads/users/161a50c635cebda7bdfcf87a20f7266708401843.jpeg" style="width:100%;">
							<ul class="profilenav">
								<li><a href=#>Messages</a></li>
								<li><a href=#>Favorites</a></li>
								<li><a href=#>Payout</a></li>
								<li><a href=#>Settings</a></li>
							</ul>
						</div>
						<div class="large-9 columns profileinfo">
							<h4 class="username">{{ user.firstname }} {{ user.lastname }}</h4>

							<ul class="userinfo">
								<li>{{ user.degree }}</li>
								<li>{{ user.grade }}</li>
								<li>From, {{ user.school }}</li>
							</ul>
							<p class="about">{{ user.bio }}</p>
							<p class="public"><a href="{{ path('rayku_tutor_show', { 'username': user.username } ) }}"><span class="raphael">7</span>Tutor Public Profile</a></p>

						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>

<!------------------------------
MODALS
-------------------------------->
{% if user.id %}
	{% render url('rayku_tutor_new') %}

	{% include 'RaykuPageBundle:Page:notification_modal.html.twig' %}
{% endif %}

{% if ratesessionform is defined %}
	<div id="referFriend" class="reveal-modal medium">
		<div class="row registration-header">
        	<h2>Refer a Friend</h2>
		</div>
	    <div class="row registration-body">
			<div class="large-12 columns">
				You can get extra Rayku Points by inviting your friends to try out Rayku. If a friend uses your invitation to sign up for an account you will receive 200 Rayku Points and your friend receives 500 Rayku points.</br><br/>
				
				<input type="text" value="http://www.rayku.com/?refcode={{ user.referralCode }}" /><br /><br />

				<a href="#"><img src="https://secure.citizensforethics.org/page/-/images/buttons/btn_fb_55px.gif" /></a>
			</div>
		</div>
		<a class="close-reveal-modal">×</a>
	</div>
	
	<div id="rateTutorModal" class="reveal-modal medium rateTutor">
		<div class="row registration-header">
        	<h2>Rate Your Tutor</h2>
		</div>
		<div class="row registration-body">
	    <div class="large-12 columns rate-tutors">
	        <form id="rateTutorForm" class="custom" name="rate-tutor" action="{{ path('post_session_rate', {'session': session.id}) }}" method="post">
	            <div class="row">
	                <div class="large-9 columns">
	                    <label for="rateTutor">{{ session.selectedtutor }}</label>
	                    {{ form_widget(ratesessionform.rating) }}
	                    {{ form_rest(ratesessionform) }}
	                </div>
	
	                <!--// Attach to a review table on DB //-->
	                <div class="large-12 columns">
	                    <form>
	                        <div class="row">
	                            <div class="large-12 columns">
	                                <label>Write Review</label>
	                                <textarea placeholder="small-12.columns">Write a tutor review</textarea>
	                            </div>
	                        </div>
	                    </form>
	                </div>
	                <div class="large-3 columns">
	                    <input type="submit" class="bbutton" value="Rate">
	                </div>
	            </div>
	            <div class="row">
	            	<div class="large-12 coumns">
	            		View the <strong><a href="{{ whiteboard_url }}/room/{{ session.id }}/playback/5" target="_blank" />Session Recording</a></strong>
	            	</div>
	            </div>
	        </form>
	    </div></div>
	</div>
	
	<script type="text/javascript">
	$(document).ready(function(){
		$('#rateTutorModal').foundation('reveal', 'open');
	    $('#rateTutorForm').ajaxForm(function() {
	    	if($('select#rating').find(":selected").val() > 3){
	    		$('#referFriend').foundation('reveal', 'open')    	
	    	}else{
		    	$('#rateTutorModal').foundation('reveal', 'close');
		    }
		});
	});
	</script>
{% endif %}

 <script>
    document.write('<script src=' +
    ('__proto__' in {} ? '/bundles/raykupage/js/vendor/zepto' : '/bundles/raykupage/js/vendor/jquery') +
    '.js><\/script>')
</script>
<script src="{{ asset('bundles/raykupage/js/foundation/foundation.js') }}"></script>
<script src="{{ asset('bundles/raykupage/js/foundation/foundation.alerts.js') }}"></script>
<script src="{{ asset('bundles/raykupage/js/foundation/foundation.clearing.js') }}"></script>
<script src="{{ asset('bundles/raykupage/js/foundation/foundation.cookie.js') }}"></script>
<script src="{{ asset('bundles/raykupage/js/foundation/foundation.dropdown.js') }}"></script>
<script src="{{ asset('bundles/raykupage/js/foundation/foundation.forms.js') }}"></script>
<script src="{{ asset('bundles/raykupage/js/foundation/foundation.joyride.js') }}"></script>
<script src="{{ asset('bundles/raykupage/js/foundation/foundation.magellan.js') }}"></script>
<script src="{{ asset('bundles/raykupage/js/foundation/foundation.orbit.js') }}"></script>
<script src="{{ asset('bundles/raykupage/js/foundation/foundation.placeholder.js') }}"></script>
<script src="{{ asset('bundles/raykupage/js/foundation/foundation.reveal.js') }}"></script>
<script src="{{ asset('bundles/raykupage/js/foundation/foundation.section.js') }}"></script>
<script src="{{ asset('bundles/raykupage/js/foundation/foundation.tooltips.js') }}"></script>
<script src="{{ asset('bundles/raykupage/js/foundation/foundation.topbar.js') }}"></script>
<script>
    $(document).foundation();
</script>

    {% include "::GoogleAnalytics.html.twig" %}
    
    {% include "::PathAnalytics.html.twig" %}
    
    {% include "::ZenDeskFeedback.html.twig" %}
</body>
</html>