{% extends "::base.html.twig" %}

{% block signuplink %}#{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset('bundles/raykupage/css/style.css') }}" type="text/css" rel="stylesheet" media="screen" />
	<style type="text/css">
	body{
		background: #272727;
	}
	
	footer.footer{
		background: #272727;
		border-top: 2px solid rgb(26,106,175);
	}
	</style>
	<link href='http://fonts.googleapis.com/css?family=Francois+One' rel='stylesheet' type='text/css'>
{% endblock %}

{% block header %}
	<header class="main-header">
	    <div class="inside">
	        <a href="{{ path('rayku_page_homepage') }}" id="logo"><img src="{{asset('bundles/raykupage/images/logo.png')}}" alt="" /></a>
	    </div>
	</header>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="small-9 large-centered columns" style="padding: 35px; text-align:center; font-family: 'Francois One', sans-serif; font-size:19pt">
        	Ryerson University in collaboration with Rayku<br /><br /> 
        	<a href="{{ path('hwi_oauth_service_redirect', {'service':'facebook'}) }}">
        		<img id="fb" style="background:url({{ asset('bundles/raykupage/images/fb_login.png') }}); width: 150px; height: 23px;" alt="Login with Facebook" />
        	</a><br />
        	<a href="{{ path('hwi_oauth_service_redirect', {'service':'linkedin'}) }}">
        		<img id="ln" style="background:url({{ asset('bundles/raykupage/images/ln_login.png') }}); width: 150px; height: 23px;" alt="Login with Linkedin" />
        	</a>
        </div>
    </div>
{% endblock %}
