<script type="text/javascript">
	$(document).ready(function(){
		var options = { 
			error: function(response, status, err){
				var responseJson = $.parseJSON(response.responseText);
					for(field in responseJson.errors){
						$("label[for='"+field+"']").addClass('error');
						$("#"+field).after('<small class="error field_error">'+responseJson.errors[field]+'</small>');
					}
				},
			success: function(response){
				window.location.replace(response.redirect);
			}
		};
		//$('#tutor_register_form').ajaxForm(options)
		
	});
</script>


<div id="regModal" class="reveal-modal medium">
    <div class="row modal-header">
        <h2>Tutor Registration</h2>
        <a class="close-reveal-modal">&#215;</a>
    </div>
    <div class="row modal-body">
        <form action="{{ path('post_users_tutor_registration') }}" {{ form_enctype(form) }} method="POST" class="custom registration-form" id="tutor_register_form">
            <div class="row">
                <div class="large-6 columns">
		            {{ form_row(form.first_name) }}
		        </div>
                <div class="large-6 columns">
		            {{ form_row(form.last_name) }}
		        </div>
		    </div>
            <div class="row">
                <div class="large-12 columns">
		            {{ form_row(form.username) }}
		        </div>
		    </div>
            <div class="row">
                <div class="large-12 columns">
		            {{ form_row(form.email) }}
		        </div>
		    </div>
            <div class="row">
                <div class="large-12 columns">
		            {{ form_row(form.plainPassword) }}
		        </div>
		    </div>
            <div class="row">
                <div class="large-12 columns">
		            {{ form_row(form.tutor.schoolAmount) }}
		        </div>
		    </div>
            <div class="row">
                <div class="large-12 columns">
		            {{ form_row(form.tutor.schoolName) }}
		        </div>
		    </div>
            <div class="row">
                <div class="large-12 columns">
		            {{ form_row(form.tutor.degree) }}
		        </div>
		    </div>
            <div class="row registration-footer">
                <div class="large-3 large-offset-8 columns">
                    <input type="submit" class="bbutton" value="Get Started">
                </div>
            </div>
        </form>
    </div>
</div>