{% extends "::base.html.twig" %}
{% block head %}
    <meta charset="utf-8" />
    <title>Rayku - Homepage</title>
    {% block stylesheets %}
        <link href="{{ asset('bundles/raykustatic/css/normalize.css') }}" type="text/css" rel="stylesheet" media="screen" />
        <link href="{{ asset('bundles/raykustatic/css/foundation.min.css') }}" type="text/css" rel="stylesheet" media="screen" />
        <link href="{{ asset('bundles/raykustatic/css/style.css') }}" type="text/css" rel="stylesheet" media="screen" />
    {% endblock %}
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,700,600" rel="stylesheet" type="text/css" />
{% endblock %}

{% block title 'Rayku - Dashboard' %}

{% block body %}
    {% block header %}
    {% endblock %}

    <div>
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'RaykuUserBundle') }} |
            <a href="{{ path('_rayku_user_logout') }}">
                {{ 'layout.logout'|trans({}, 'RaykuUserBundle') }}
            </a>
        {% else %}
            <a href="/hello_world">{{ 'layout.login'|trans({}, 'RaykuUserBundle') }}</a>
        {% endif %}
    </div>

    {% for type, messages in app.session.flashbag.all() %}
        {% for key, message in messages %}
            <div class="flash-{{ type }}">
                {{ message|trans({}, 'FOSUserBundle') }}
            </div>
        {% endfor %}
    {% endfor %}

    {% block fos_user_content %}{% endblock fos_user_content %}

    <footer class="footer">
    {% block footer %}
        
    {% endblock %}
    </footer>
    {% block login_modal %}
    {% endblock %}

    {% block javascripts %}
        <script>
            document.write('<script src=' +
            ('__proto__' in {} ? '/bundles/raykustatic/js/vendor/zepto' : '/bundles/raykustatic/js/vendor/jquery') +
            '.js><\/script>')
        </script>
        <script src="{{ asset('bundles/raykustatic/js/foundation/foundation.js') }}"></script>
        <script src="{{ asset('bundles/raykustatic/js/foundation/foundation.alerts.js') }}"></script>
        <script src="{{ asset('bundles/raykustatic/js/foundation/foundation.clearing.js') }}"></script>
        <script src="{{ asset('bundles/raykustatic/js/foundation/foundation.cookie.js') }}"></script>
        <script src="{{ asset('bundles/raykustatic/js/foundation/foundation.dropdown.js') }}"></script>
        <script src="{{ asset('bundles/raykustatic/js/foundation/foundation.forms.js') }}"></script>
        <script src="{{ asset('bundles/raykustatic/js/foundation/foundation.joyride.js') }}"></script>
        <script src="{{ asset('bundles/raykustatic/js/foundation/foundation.magellan.js') }}"></script>
        <script src="{{ asset('bundles/raykustatic/js/foundation/foundation.orbit.js') }}"></script>
        <script src="{{ asset('bundles/raykustatic/js/foundation/foundation.placeholder.js') }}"></script>
        <script src="{{ asset('bundles/raykustatic/js/foundation/foundation.reveal.js') }}"></script>
        <script src="{{ asset('bundles/raykustatic/js/foundation/foundation.section.js') }}"></script>
        <script src="{{ asset('bundles/raykustatic/js/foundation/foundation.tooltips.js') }}"></script>
        <script src="{{ asset('bundles/raykustatic/js/foundation/foundation.topbar.js') }}"></script>
        <script>
            $(document).foundation();
        </script>
    {% endblock %}
{% endblock %}
